.restaurant-card {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: transform 0.2s;
}

/* This is for my specials*/
.promo-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 69, 0, 0.85);
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: bold;
  z-index: 2;
}
.restaurant-image {
  position: relative;
}


.restaurant-card:hover {
  transform: translateY(-4px);
}

.restaurant-image {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.restaurant-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.restaurant-info {
  padding: 16px;
}

.restaurant-info h3 {
  margin: 0 0 8px 0;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.restaurant-details {
  display: flex;
  align-items: center;
  gap: 16px;
}

.rating, .location {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #666;
}

.rating {
  color: #FFD700;
  font-weight: 500;
}

.location {
  color: #888;
}