.section {
  padding: 24px 16px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.section-header h2 {
  font-size: 28px;
  font-weight: 800; /* this also controls the others*/
  margin: 0;
}

.view-all {
  display: flex;
  align-items: center;
  gap: 4px;
  background: transparent;
  border: none;
  color: #FF4E50;
  font-weight: 800;
  cursor: pointer;
  font-size: 18px;
}

.restaurants-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media (min-width: 768px) {
  .restaurants-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .restaurants-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}